<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.598557417940-49ld4ief0rjm7nf8916gvi5mn7o5i4i5</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>598557417940-49ld4ief0rjm7nf8916gvi5mn7o5i4i5.apps.googleusercontent.com</string>
</dict>
</plist>
